<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="list">
            <a mat-list-item routerLink="burguers">
                <i class="material-icons">fastfood</i>
                Hamburgueres
            </a>
            <a mat-list-item>
                <i class="material-icons">liquor</i>
                Bebidas
            </a>
            <a mat-list-item>
                <i class="material-icons">icecream</i>
                Sobremesas
            </a>
            <a mat-list-item>
                <i class="material-icons">sell</i>
                Ofertas
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>