<mat-card class="home" mat-elevation-z4>
    <mat-card-title class="title">Oferta do Dia</mat-card-title>
    <section class="oferta">
        <div class="content">
            <img class="img" src="../../../assets/burger1.avif" alt="">
            <div>
                <h3>Hamburguer X</h3>
                <p>BLEND DE BLACK ANGUS, QUEIJO MINAS MEIA CURA GRATINADO, CEBOLAS CARAMELIZADAS, FINAS FATIAS DE BACON DEFUMADO CROCANTE, TOMATE FRESCO, MIX DE BABY LEAF E MOLHO PÁPRICA ESPECIAL NO PÃO BRIOCHE DE BATATA ARTESANAL</p>
                <div class="button_price">
                    <button (click)="navigateToOrder()" mat-raised-button color="primary">Adicionar ao pedido</button>
                    <p class="price">R$ 19,99</p>
                </div>
            </div>
        </div>
    </section>
</mat-card>