.content {
    display: flex;
    flex-wrap: wrap;
}

.burger {
    width: 300px;
    margin: 25px;
    /* display: flex; */
    /* padding: 10px; */
    box-shadow: 5px 4px 4px 2px #808080;
    border-radius: 10px;
}

.img {
    width: 300px;
    border-radius: 10px;
    /* max-height: 300px; */
}

.description {
    padding: 10px;
}

.name {
    display: flex;
    justify-content: center;
}

.button_price {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}