<div class="content">
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/ks2.jpg" alt="">
            <div class="description">
                <h2 class="name">Refrigerante</h2>
                <p>Coca-Cola, Coca-Cola Zero, Franta e Sprite</p>
                <div class="button_price">
                    <button style="margin-top: 100px;" mat-flat-button color="primary">Adicionar ao pedido</button>
                    <p style="margin-top: 100px;" class="price">R$ 5,99</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/suco-laranja.jpg" alt="">
            <div class="description">
                <h2 class="name">Suco de Laranja</h2>
                <p>Vai um suco ai??? Suco de Laranja fresco</p>
                <div class="button_price">
                    <button style="margin-top: 150px;" mat-flat-button color="primary">Adicionar ao pedido</button>
                    <p style="margin-top: 150px;" class="price">R$ 9,99</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/cervejas.jpg" alt="">
            <div class="description">
                <h2 class="name">Cervejas</h2>
                <p>Qualquer cerveja pelo valor unico</p>
                <div class="button_price">
                    <button style="margin-top: 120px;" mat-flat-button color="primary">Adicionar ao pedido</button>
                    <p style="margin-top: 120px;" class="price">R$ 8,99</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>