<div class="content">
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/burger1.avif" alt="">
            <div class="description">
                <h2 class="name">Hamburguer X</h2>
                <p>BLEND DE BLACK ANGUS, QUEIJO MINAS MEIA CURA GRATINADO, CEBOLAS CARAMELIZADAS, FINAS FATIAS DE BACON
                    DEFUMADO CROCANTE, TOMATE FRESCO, MIX DE BABY LEAF E MOLHO PÁPRICA ESPECIAL NO PÃO BRIOCHE DE BATATA
                    ARTESANAL</p>
                <div class="button_price">
                    <button mat-flat-button color="warn">Remover</button>
                    <p class="price">R$ 19,99</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/burger5.webp" alt="">
            <div class="description">
                <h2 class="name">Hamburguer X DUPLO</h2>
                <p>2 BLEND DE 150G, 2 FATIAS DE QUEIJO CHEDDAR, FINAS FATIAS DE BACON
                    DEFUMADO CROCANTE, NO PÃO BRIOCHE </p>
                <div class="button_price">
                    <button style="margin-top: 110px;" mat-flat-button
                        color="warn">Remover</button>
                    <p style="margin-top: 110px;" class="price">R$ 22,99</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/burger7.jpg" alt="">
            <div class="description">
                <h2 class="name">BURGER 3X1</h2>
                <p>BLEND DE BLACK ANGUS 150G, QUEIJO CHEDDAR, CEBOLAS CARAMELIZADAS, FINAS FATIAS DE BACON
                    DEFUMADO CROCANTE, TOMATE FRESCO, MIX DE BABY LEAF E MOLHO ESPECIAL NO PÃO BRIOCHE ARTESANAL</p>
                <div class="button_price">
                    <button mat-flat-button color="warn">Remover</button>
                    <p class="price">R$ 49,99</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>