<div class="content">
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/burger1.avif" alt="">
            <div class="description">
                <h2 class="name">Hamburguer X</h2>
                <p>BLEND DE BLACK ANGUS, QUEIJO MINAS MEIA CURA GRATINADO, CEBOLAS CARAMELIZADAS, FINAS FATIAS DE BACON
                    DEFUMADO CROCANTE, TOMATE FRESCO, MIX DE BABY LEAF E MOLHO PÁPRICA ESPECIAL NO PÃO BRIOCHE DE BATATA
                    ARTESANAL</p>
                <div class="button_price">
                    <button (click)="navigateToOrder()" mat-flat-button color="primary">Adicionar ao pedido</button>
                    <p class="price">R$ 19,99</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>