<div class="content">
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/milk-shake-caseiro.webp" alt="">
            <div class="description">
                <h2 class="name">Milk Shake</h2>
                <p>3 sabores a sua escolhe do melhor milk shake, morango, chocolate ou Baunilha</p>
                <div class="button_price">
                    <button style="margin-top: 100px;" mat-flat-button color="primary">Adicionar ao pedido</button>
                    <p style="margin-top: 100px;" class="price">R$ 19,99</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/sorvete.jpg" alt="">
            <div class="description">
                <h2 class="name">Sorvete</h2>
                <p>Vai um sorvetinho??? O melhor sorvete você encontra aqui</p>
                <div class="button_price">
                    <button style="margin-top: 100px;" mat-flat-button color="primary">Adicionar ao pedido</button>
                    <p style="margin-top: 100px;" class="price">R$ 12,99</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="burger">
        <div class="content">
            <img class="img" src="../../../assets/mousses.webp" alt="">
            <div class="description">
                <h2 class="name">Mousses</h2>
                <p>Para completar sua refeição, nada melhor que um mousse!!! Morango, Chocolate ou Limão</p>
                <div class="button_price">
                    <button style="margin-top: 60px;" mat-flat-button color="primary">Adicionar ao pedido</button>
                    <p style="margin-top: 60px;" class="price">R$ 15,99</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>