<mat-card class="home" mat-elevation-z4>
    <mat-card-title class="title">Oferta da Semana</mat-card-title>
    <section class="oferta">
        <div class="content">
            <img class="img" src="../../../assets/burger10.jpg" alt="">
            <div>
                <h3>Combo Maluco Rock Burger</h3>
                <p>BLEND DE 180G, QUEIJO CHEDDAR, CEBOLAS CARAMELIZADAS, FINAS FATIAS DE BACON, TOMATE FRESCO, MIX DE BABY LEAF E MOLHO PÁPRICA ESPECIAL NO PÃO BRIOCHE DE BATATA ARTESANAL</p>
                <p>E na compra do Combo, leve uma batata rustica e refri da sua escolha</p>
                <div class="button_price">
                    <button mat-raised-button color="primary">Adicionar ao pedido</button>
                    <p class="price">R$ 19,99</p>
                </div>
            </div>
        </div>
    </section>
</mat-card>